h1,h2,h3,h4,h5,h6,a,p {
	font-family: Arial;
	color: #333333;
}
body {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #0041D8;
}

input[type=submit], input[type=file] {
   padding:5px 10px;
	background: #444444;
	color: #fff;
	border-radius: 4px;
    cursor:pointer;
    -webkit-border-radius: 4px;
    border: solid 1px #444444;
}
input[type=text] , input[type=password] , input[type=email] , input[type=file] , textarea{
	padding:5px 10px;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    border: solid 1px #444444;
}
input[type=submit]:hover {
	background: #fff;
	color: #444444;
	border: solid 1px #444444;
	-webkit-border: solid 1px #444444;
}

.main {
	margin-top: 50px;
}

.main h1 {
	text-align: center;
	padding:10px 0px;
	background: #E5E5E5;
	margin: 0;
}

.login_form, .register_form {
	position: relative;
	top: 10%;
	text-align: center;
	width: 300px;
	left: 45%;
	background: #EBEBEB;
	padding: 20px 10px;
	border-radius: 3px;
}

.comment {
	position: relative;
	left: 5%;
}

.comment_post {
	background: #E5E5E5;
	padding: 10px;
	max-width: 600px;
}

.button {
	margin-top:10px;
}
.button a{
	padding:5px 10px;
	background: #444444;
	color: #fff;
	font-size:10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    border-radius: 4px; 
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border: solid 1px #444444;
}
.button a:hover{
	text-decoration: none;
	background: #fff;
	color: #444444;
	border: solid 1px #444444;
	-webkit-border: solid 1px #444444;
}

.buttons_comment {
	height: 50px;
}
.buttons_comment form {
	width: 150px;
	float: left;
}

.buttonas a{
	color: #333;
}
.buttonas a:hover {
	text-decoration : none;
	color :#333;
	font-weight: bold;
}
.sidebar {
	background: #E5E5E5;
	margin-top: 50px;
	margin-left: 20px;
}
.sidebar_info {
	margin-left: 30px;
}

.post_button_holder {
	width: 100%;
	text-align: right;
}

/*--------------- ADMIN PANELĖ ---------------------------*/

.admin {
	text-align: center;
}